@model CTFWebApp.Models.MyTeamDetailsViewModel

@{
    ViewData["Title"] = "MyTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyTeam</h2>

<div>
    <h4>My Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.TeamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Score)
        </dd>
    </dl>
</div>

<div>
    <h4>Roster</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser item in Model.ApplicationUsers)
            {

                <tr>
                    <td>
                        @if (item.Captain == true)
                        {<p>Captain: </p>} @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>